{{!-- contact should render in the user-login handlebar --}}

	<section class="pt-30 pb-0">
		<div class="container">
			<div class="row">
			
				<div class="col-md-12 col-lg-12">
					
					<div class="ptb-0">
						<a class="mt-10" href="#"><i class="mr-5 ion-ios-home"></i><b>HOME</b></a>
						<a class="mt-10" href="#"><i class="mlr-10 ion-chevron-right"></i><b>FEATURED</b></a>
						<a class="mt-10 color-ash" href="#"><i class="mlr-10 ion-chevron-right"></i><b>CONTACT</b></a>
					</div>
					
					<div class="p-30 mtb-30 card-view">
						<div class="map-section">
							<div id="map" style="height:400px;width: 100%">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.2922369590847!2d-79.39784508463322!3d43.66289167912098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34b8f331fd9b%3A0x8d1d9bb6765a76f7!2sUniversity%20of%20Toronto%20-%20St.%20George%20Campus!5e0!3m2!1sen!2sca!4v1608391179373!5m2!1sen!2sca" width="1050" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            </div>
                            
							
							
							
						</div><!-- map-section -->
							
					</div><!-- card-view -->
				</div><!-- col-sm-12 -->
				
			</div><!-- row -->
		</div><!-- container -->
	</section>
	

	<section class="pt-0 pb-20">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-8">
					<div class="p-30 mb-30 card-view">
						<h4 class="p-title"><b>GET IN TOUCH</b></h4>
						<form>
							<div class="row">
								<div class="col-sm-6">
									<input class="mb-30" type="text" placeholder="Your name">
								</div><!-- col-sm-6 -->
								<div class="col-sm-6">
									<input class="mb-30" type="text" placeholder="Your email">
								</div><!-- col-sm-6 -->
								<div class="col-sm-12">
									<textarea class="mb-30" placeholder="Your message"></textarea>
								</div><!-- col-sm-12 -->
								
							</div><!-- row -->
							<a class="btn-fill-primary plr-20" href="#"><b>SUBMIT NOW</b></a>
						</form>
					</div><!-- card-view -->
				</div><!-- col-sm-12 -->
				<div class="col-md-12 col-lg-4">
					
					<div class="p-30 mb-30 card-view">
						<h4 class="p-title"><b>OUR OFFICE</b></h4>
						<ul class="list-contact list-li-mb-20">
							<li><i class="ion-ios-home"></i>University of Toronto School Of Continuing Studies</li>
							<li><a href="#"><i class="ion-ios-telephone"></i>(+1) 416 555 5555</a></li>
							<li><a href="#"><i class="ion-email"></i>Support@greendale.com</a></li>
							<li class="mb-0"><a href="#"><i class="ion-ios-world"></i>www.greendale.herokuapp.com</a></li>
						</ul>
					</div><!-- card-view -->
				</div><!-- col-sm-12 -->
				
			</div><!-- row -->
		</div><!-- container -->
	</section>