{{!-- signup should render in the user-login handlebar --}}

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section-bg">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Sign Up</h2>
          <p>Welcome to Greendale Community</p>
        </div>


        <div class="form">
          <form role="form" class="signup-form php-email-form">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="username-signup" placeholder="Username"/>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email-signup" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
              </div>
            </div>
            <div class="form-group col-md-6">
              <input type="password" class="form-control" id="password-signup" placeholder="Password" data-msg="Please enter at least 8 chars of subject" />
            </div>
            <div class="text-center"><button type="submit" class="btn btn-primary">Sign Up</button></div>
          </form>
        </div>

      </div>
    </section><!-- End Contact Section -->

    <script src="javascript/signup.js"></script>